{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}

<style>
    body {
        background-image: url("https://free4kwallpapers.com/uploads/originals/2015/10/22/sunset-anime-wallpaper.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: Arial, sans-serif;
    }

    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        max-width: 100%;
        /* transition: width 2s, height 2s, transform 2s; */
    }
/* 
    .login:hover {
        width: 400px;
        height: 400px;
        transform: rotate(18130deg);
    } */

    .login {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        padding: 30px;
        width: 300px;
        transition: width 1s, height 1s, transform 1s;
        /* background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172, green); */
        /* background-size: 180% 180%;
        animation: gradient-animation 1ms ease-in-out  infinite;
        }

        @keyframes gradient-animation {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        } */
    }

    .login h1 {
        color: #333;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: 15px;
        text-align: left;
    }

    .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        color: #555;
    }

    .form-group input{
            justify-content: center;
            height: 20px;
            margin: 0;
            border-radius: 5px;
            border: 1px solid #fff;
            padding: 7px;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .btn.login_btn {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        margin: 0 auto;
        display: block;
    }

    .btn.login_btn:hover {
        background-color: #0056b3;
    }

    .message-list {
        list-style: none;
        padding: 0;
        margin-top: 20px;
    }

    .message-list li {
        color: red;
        font-size: 14px;
        margin: 5px 0;
    }

    .register-link {
        margin-top: 20px;
        font-size: 14px;
    }

    .register-link a {
        color: #007bff;
        text-decoration: none;
    }

    .register-link a:hover {
        text-decoration: underline;
    }
    
    /* body {
        background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172, green);
        background-size: 180% 180%;
        animation: gradient-animation 1ms ease-in-out  infinite;
        }

        @keyframes gradient-animation {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
        } */
</style>

<div class="login-container">
    <div class="login">
        <h1>Login</h1>

        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Username" class="form-control">
            </div>
                    
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Password" class="form-control">
            </div>

            <div>
                <button class="btn login_btn" type="submit">Login</button>
            </div>
        </form>

        {% if messages %}
            <ul class="message-list">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}     
        
        <p class="register-link">Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a></p>
    </div>
</div>

{% endblock content %}
